:root {
    --black: #151520;
    --cool-gray: #4a4b4a;
    --light-gray: #d4d4d4;
    --white: #edf0ee;
    --white-fixed: #edf0ee;
    --forest-green-0: #27cbfd;
    --forest-green-1: #387d92;
    --forest-green-2: #184d57;
    --sun-yellow: #f9d71c;
}

[data-theme="dark"] {
    --black: #ccc;
    --cool-gray: #d4d4d4;
    --light-gray: #4a4b4a;
    --white: #050508;
    --forest-green-0: #04B086;
    --forest-green-1: #00493a;
    --forest-green-2: #041f14;
    --sun-yellow: #f9d71c;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    font-family: "Open Sans";
    color: var(--black);
    background-image: linear-gradient(45deg, var(--white), var(--light-gray));
    background-position: center;
    background-repeat: no-repeat;
    transition: 250ms ease-in-out;
}

body.dark {
    background-image: linear-gradient(110deg, var(--light-gray), var(--white));
}

div#intro {
    background-color: var(--forest-green-1);
    background-image: linear-gradient(var(--forest-green-2), var(--forest-green-1));
    height: 100vh;
}

.title {
    pointer-events: none;
    margin: 0 0 0.2em 0;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.25em var(--forest-green-0);
    color: inherit;
    font-size: 2rem;
    text-decoration: none;
}

.neon-button {
    font-size: 4rem;
    justify-content: center;
    display: flex;
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--forest-green-0);
    border: transparent 0.125em solid;
    padding: 0.25em 1.25em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 5rem 0.25em var(--forest-green-0);
    box-shadow: inset 0 0 0.75em transparent, 0 0 0.75em transparent;
    position: relative;
    transition: 100ms linear;
}

.neon-button::before,
.neon-button::after {
    content: "";
    pointer-events: none;
    position: absolute;
    transition: 100ms linear;
}

.neon-button::before {
    background: var(--forest-green-0);
    filter: blur(1em);
    opacity: 0.8;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(2em) rotateX(40deg) translateZ(0.5em) scale(1, 0.5);
}

.neon-button::before:hover,
.neon-button::before:focus {
    transform: perspective(2em) rotateX(40deg) translateZ(0.5em) scale(2, 0.5);
}

.neon-button::after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--forest-green-0);
    opacity: 0;
    transition: 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
    background: var(--forest-green-0);
    color: var(--forest-green-1);
    text-shadow: 0;
    border: var(--forest-green-0) 0.125em solid;
    transition: 100ms linear;
    transition: 200ms linear color;
}

.neon-button:hover::before,
.neon-button:focus::before {
    transform: perspective(2em) rotateX(40deg) translateZ(0.5em) scale(1.1, 0.6);
}

.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.page {
    height: 100vh;
}

div.precontentbox {
    height: 3rem;
    /* https://www.w3schools.com/howto/howto_css_parallax.asp */
}

div.contentboxwall {
    background: linear-gradient(150deg, var(--light-gray) 50%, transparent 50%) no-repeat;
    background-size: 200% 200%;
    background-position: right bottom;
    transition: all .5s ease-in-out;
    margin: 2rem;
}

div.contentboxwall:hover,
div.contentboxwall:focus {
    background-position: left top;
    box-shadow: 0 0 2em 0.5em var(--forest-green-0), 0 0 1em 0.1em black inset;
}

div.contentbox {
    display: flex;
    height: min-content;
    cursor: pointer;
    transition: 300ms linear;
    color: var(--cool-gray);
    background-color: transparent;
    --b: 0.5rem;
    --g: 1rem;
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%, var(--forest-green-0) 0;
    background: conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat, conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
}

div.contentbox:hover {
    color: var(--black);
    transition: color 0.25s ease;
}

div.contentbox::before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    height: 0;
}

div.contentbox:not(.firstSection)::before {
    left: 1rem;
    bottom: 25%;
    width: 0;
    height: 0;
    border-left: 0.5rem solid var(--black);
    z-index: -5;
    transition: height .4s ease;
}

div.contentbox:not(:has(div.muted))::before {
    height: 0;
    transition: height none;
}

div.contentbox:hover:not(.firstSection)::before {
    height: 50%;
}

div.contentbox:active:not(.firstSection),
div.contentbox:focus:not(.firstSection),
div.contentbox.on {
    --_i: 100%;
    box-shadow: 0 0 5px 1px var(--forest-green-0);
    transition: .5s, background-size .7s .5s, box-shadow 1.2s;
}


/*
div.contentbox:active:not(.firstSection):first-child,
div.contentbox:focus:not(.firstSection):first-child,
div.contentbox.on:first-child {
    box-shadow: inset 0 0 10px 2px var(--light-gray);
}
*/

div.contentbox.firstSection:hover,
div.contentbox.firstSection:active,
div.contentbox.firstSection:focus {
    --_i: 100%;
    transition: .5s, background-size .7s .5s;
}

div.contentbox div {
    padding: 1rem;
}

div.contentbox img {
    height: calc(30vh - 2rem);
    margin: 1rem;
}

section {
    margin: 2rem;
    padding: 1rem;
}

h2 {
    margin: 0;
}

div.contentbox div:first-child {
    margin-top: 0;
}

.dropdownbutton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    scroll-margin-top: 7em;
}

.dropdowncontent.muted {
    display: none;
}

.dropdowncontent:not(.muted) {
    height: auto;
    display: block;
}

@media only screen and (max-width: 900px) {
    .contentboxwall {
        margin: 0.5rem;
    }
    div.contentbox {
        padding: calc((var(--g) + var(--b))/2);
    }
    div.contentbox div {
        margin: 0.5rem;
    }
}

footer {
    margin: 2rem;
    font-size: large;
    color: var(--black);
    cursor: default;
}

footer a {
    text-decoration: none;
    color: var(--forest-green-1);
    transition: 100ms ease;
}

footer a:hover {
    color: var(--forest-green-0);
}